{{set . "title" "Open Saturday"}}
{{template "var.html" .}}
{{template "head.html" .}}


{{template "header.html" .}}


<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<section class="business-header">
    <div class="container">
        <div class="row">
          <div class="hero">
            <hgroup>
                <h1>El evento Open Source del pais.</h1>
            </hgroup>
          </div>
        </div>
    </div>
</section>
<br>
<div class="container">
<div class="row well">
    <div class="col-sm-8">
        <h2>Que es el Open Saturday?</h2>
        <br>
        <p>Es un evento que se realiza un dia Sabado y donde buscamos promover el uso de herramientas Open Source que puedan ser de utilidad para las empresas sin importar su industria.</p>
        <p>El Open Saturday cuenta con una asistencia de mas de 200 asistentes a sus eventos de diversas areas profesioanles.</p>
        <br>
        <h2>Por que hacemos esto?</h2>
          <br>
        <p>En las comunidades Open Source nos mueve el hecho de promover las tecnologias que utilizamos y ademas educar a los jovenes apasionados por el Open Source.</p>
          <br>
        <h2>Lugares donde se realiza el Open Saturday</h2>
          <br>
        <p>El evento se organiza en diferentes provincias de la Rep. Dom, entre las que podemos mencionar La Romana, Sanatigo y Santo Domingo.</p>
        <br>

    </div>
</div>
<!-- /.row -->
</div>
{{template "footer.html" .}}
