{{set . "title" "Open Saturday"}}
{{template "var.html" .}}
{{template "head.html" .}}


{{template "header.html" .}}


<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<section class="sponsors-header">
    <div class="container">
        <div class="row">
          <div class="hero">
            <hgroup>
                <p>Gracias al apoyo de las empresas que confian en nuestro evento, cada ano realizamos el Open Satuday, un evento que cuenta con una asistencia sobre los 200 jovenes de diferentes areas profesionales.</p>
            </hgroup>
          </div>
        </div>
    </div>
</section>
<br>

  <div class="container">
    <div class="sponsors-body">

    <section>
      <h2>Diamond</h2>
      <div class="row">
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
      </div>
    </section>
    <section>
      <h2>Platinum</h2>
      <div class="row">
        <div class="col-xs-6 col-md-5">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-5">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-5">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-5">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
      </div>
    </section>
    <section>
      <h2>Gold</h2>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-4">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
      </div>
    </section>
    <section>
      <h2>Silver</h2>
      <div class="row">
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
        <div class="col-xs-6 col-md-2">
          <a href="#" class="thumbnail">
            <img src="/public/img/sponsors/microsoft.png" alt="...">
          </a>
        </div>
      </div>
    </section>

</div>
  </div>

<!-- /.row -->

{{template "footer.html" .}}
