{{set . "title" "Open Saturday"}}
{{template "var.html" .}}
{{template "head.html" .}}


{{template "header.html" .}}


<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<section class="business-header">
    <div class="container">
        <div class="row">
          <div class="hero">
            <hgroup>
                <h1>Eventos pasados!</h1>
            </hgroup>
          </div>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <div class="box-icon">
                  <img class="img-responsive" src="/public/img/icon.png" alt="">
                </div>
                <div class="info">
                    <h4 class="text-center">Fecha </h4>
                    <a href="" class="btn btn-primary btn-lg btn-block">Evento pasado!</a>
                </div>
            </div>
        </div>


	</div>
</div>
<br>
{{template "footer.html" .}}
