<header>


    <nav id="NavBar" class="navbar-fixed-top col-12 col">
      <div class="row-flow">
        <!-- Logo Open Saturday -->
        <div id="logo" class="col-6 col">
          <a href="/">
            <img src="/public/img/logo.png" alt="" />
          </a>
        </div>
        <ul id="other-nav" class="clearfix">
          <li class="event-nav">
            <a href="about">
              <span>Que es el OS?</span>
            </a>
          </li>
          <li class="location-nav">
            <a href="schedule">
              <span>Agenda</span>
            </a>
          </li>
          <li class="past-nav">
            <a href="#">
              <span>Suministrar Conferencia</span>
            </a>
          </li>
          <li class="ticket-nav">
            <a href="https://www.eventbrite.com/e/open-saturday-at-santiago-tickets-24892250391">
              <span>Tickets</span>
            </a>
          </li>
          <li class="sponsors-nav">
            <a href="sponsors">
              <span>Patrocinadores</span>
            </a>
          </li>
          <li class="speaker-nav">
            <a href="speakers">
              <span>Conferencistas</span>
            </a>
          </li>
        </ul>

    <!-- Countdown Timer -->
    <div id="clockdiv" class="col-6 col">
      <!-- ## DAYS ## -->
      <div class="dash days_dash">
        <div class="dash_title">days</div>
        <div class="digits clearfix">
          <div class="digit digit-1"><span class="days"></span></div>
        </div>
      </div>
      <!-- ## HOURS ## -->
      <div class="dash hours_dash">
        <div class="dash_title">hours</div>
        <div class="digits clearfix">
          <div class="digit digit-1"><span class="hours"></span></div>
        </div>
      </div>
      <!-- ## MINUTES ## -->
      <div class="dash minutes_dash">
        <div class="dash_title">minutes</div>
        <div class="digits clearfix">
          <div class="digit digit-1"><span class="minutes"></span></div>
        </div>
      </div>
      <!-- ## SECONDS ## -->
      <div class="dash seconds_dash">
        <div class="dash_title">seconds</div>
        <div class="digits clearfix">
          <div class="digit digit-1"><span class="seconds"></span></div>
        </div>
      </div>
    </div>
    <!-- End of Countdown Timer -->

  </div>

  </nav>
</header>
